*{margin: 0;padding: 0;} a{color: #222;text-decoration: none;} ul, li, ol, dl{list-style: none;}

/* common */

.d-flex{display: flex;}
.container{width: 1200px;}
.rel{position: relative;}
.abs{position: absolute;}
.w1200{width: 1200px;}
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}
.ofh{ overflow:hidden }
.m-auto{margin: 0 auto;}
.justify-content-bew{justify-content: space-between;}
.justify-items{align-items: center;}


.anSlide{width: 10000000px;}
